<div th:fragment="headerAdminMain">
  <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <h5 class="my-o mr-md-auto font-weight-normal">Reward Records Administrator Panel </h5>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="me-3 py-2 text-dark text-decoration-none" href="/">Main</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="/users">User Management</a>
      <a  th:href="@{/logout}"class="btn btn-primary">Log out</a>
    </nav>
  </div>
</div>